<div class="well">
  <%= form_for [@post,@comment] do |f| %>
    <div class="control-group">
      <%= f.label :body, 'Leave a comment' %>
    </div>
    <div class="control-group">
        <%= f.text_area :body, row: 3, class: 'span' %>
    </div>
    <%= f.submit "submit comment", class: 'btn btn-primary' %>
  <% end %>
</div>
